//****************
// Project Animations
//****************




/*********************
Fade In
*********************/

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 30px; }
  100% {
    opacity: 1;
    top: 0px; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 30px; }
  100% {
    opacity: 1;
    top: 0px; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 30px; }
  100% {
    opacity: 1;
    top: 0px; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 30px; }
  100% {
    opacity: 1;
    top: 0px; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 30px; }
  100% {
    opacity: 1;
    top: 0px; }
}

.fade-in {
  -moz-animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
  animation-fill-mode: forwards;
  /*when the spec is finished*/ 
}

/*********************
Pulse
*********************/

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0.8);
    opacity: 0.0;
 }
 25% {
    -moz-transform: scale(0.8);
    opacity: 0.1;
 }
 50% {
    -moz-transform: scale(0.8);
    opacity: 0.3;
 }
 75% {
    -moz-transform: scale(0.8);
    opacity: 0.8;
 }
 100% {
    -moz-transform: scale(1.5);
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0.8);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(0.8);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.8);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(0.8);
    opacity: 0.8;
 }
 100% {
    -webkit-transform: scale(1.5);
    opacity: 0.0;
 }
}

/*********************
Delays
*********************/

.animation-delay--05 {
  -webkit-animation-delay: 0.5s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 0.5s; }

.animation-delay--1 {
  -webkit-animation-delay: 1s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 1s; }

.animation-delay--15 {
  -webkit-animation-delay: 3s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 1.5s; }

.animation-delay--2 {
  -webkit-animation-delay: 2s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 2s; }


.opacity--zero{
  opacity:0;
}



