//****************
// Banner Styles
//****************




/*********************
Banner
*********************/

.banner{
  margin-top:75px;
  padding-top:125px;
  height: 330px;
  background-image: url('../../assets-src/images/meat.jpg');
  background-position: bottom center;
  background-size: cover;

  @include mobile{
  padding-top:160px;
  height: 430px;
  }
  @include tablet{
    margin-top:85px;
    padding-top: 190px;
  	height: 480px;
  }

  &:before{
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
  }

  h1{
    color: $white;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.6);
    text-align: center;
  }
  &--small{
    background-color:$brand-primary !important;
    margin-top:45px;
    padding-top:90px;
    height: 215px;
  }
}
