//****************
// Button Styles
//****************




.btn, .woocommerce button.button, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.checkout-button.button, .woocommerce a.button.add_to_cart_button {
  font-family: $font-secondary;
  text-decoration: none;
  color: $brand-primary;
  font-size: $f-s;
  padding: 10px 25px;
  border: 2px solid $brand-primary;
  cursor: pointer;
  min-width: 200px;
  width: 100%;
  text-transform: uppercase;
  margin: 2px 0;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  @include transition(all, 0.15s, ease-in-out);

  @include mobile {
    width: auto;
  }

  &--middle{
    display: table;
  }

  &:hover, &:focus {
    outline: none;
    cursor: pointer;
  }
}

.woocommerce button.button:disabled, .woocommerce button.button.single_add_to_cart_button:disabled, .woocommerce button.button.single_add_to_cart_button.disabled{
  color: darken($white, 10%)!important;
  background-color: $brand-primary;
  border-color: $brand-primary;
  padding: 11px 25px;
  margin-top:3px;
  &:hover &:focus{
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
}

.woocommerce .variations{
  margin-top:1em;
  text-align: right;
  .selectr-container{
    margin-left:1.2em;
    width:180px;
    text-align: left;
  }
  .reset_variations{
    margin-top:0.2em;
  }
}

/*********************
Primary button
*********************/

.btn--primary, .woocommerce button.button, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.checkout-button.button, .woocommerce a.button.add_to_cart_button {
  @extend .btn;
  background-color: $brand-primary;
  color:$white;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.42);

  &:hover, &:focus {
    background-color:darken($brand-primary, 10%);
    border-color:darken($brand-primary, 10%);
    color:$white;
  }
}

.woocommerce a.checkout-button.button{
  font-size: 125%;
  float:right;
}

.woocommerce a.button.add_to_cart_button{
  width:auto;
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  margin-right:1.5em;
  &:hover, &:focus{
    background-color: darken($brand-secondary, 10%);
    border-color: darken($brand-secondary, 10%);
  }
}

.product--blocks article a.btn, .product--blocks article a.button{
  font-weight: normal;
  width:auto;
  min-width: unset;
  padding:10px 15px;
  line-height:1.65em;
}

.woocommerce .product--blocks a.added_to_cart{
  position: absolute;
  bottom: -30px;
  left: 32px;
}

/*********************
Secondary button
*********************/

.btn--secondary {
  @extend .btn;
  border: 2px solid $brand-secondary;
  color: $brand-secondary;

  &:hover,
  &:focus {
    color: $white;
    background-color:$brand-secondary;
  }
}

/*********************
Tertiary button
*********************/

.btn--inverse {
  @extend .btn;
  border: 1px solid $brand-secondary;
  color: $brand-secondary;

  &:hover,
  &:focus {
    background: $brand-secondary;
    border: 1px solid $brand-secondary;
    color: $white;
  }
}
