//****************
// Displays Styles
//****************




/*********************
Globals
*********************/

.d--block {
  display: block;
}

.d--inline {
  display: inline;
}

.d--iblock {
  display: inline-block;
}

.d--table {
  display: table;
}

/*********************
Lists
*********************/

ul {
  margin-left: 15px;
  &.l--inline {
    > li {
      display: inline;
    }
  }

  &.l--block {
    > li {
      display: block;
    }
  }
}


/*********************
Breadcrumbs
*********************/

ul.breadcrumb {
    padding: 12px 16px 12px 0px;
    list-style: none;
    background-color: $white;
    //margin-top:77px;
    margin-left:0px;
}
ul.breadcrumb li {
  display: inline;
  color:$mediumgrey;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    content: "\f105"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    color:$mediumgrey;
}
ul.breadcrumb li a {
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}


/*********************
Image popup
*********************/

.image-popup-vertical-fit{

  .open--image{
    display: none;
    width: 50px;
    padding: 10px;
    text-align: center;
    height: 50px;
    font-size: 30px;
    background-color: $white;
    right: 20px;
    z-index: 100;
    top: 5px;
    position: absolute;
  }

  &:hover{

    .open--image{
      display: block;
    }
  }

}

/*********************
Checkbox
*********************/

//input[type=radio]{
//  /* Hide original inputs */
//  visibility: hidden;
//  position: absolute;
//}
//input[type=radio] + label:before{
//  height:20px;
//  width:20px;
//  border-radius:20px;
//  margin-right: 5px;
//  content: " ";
//  display:inline-block;
//  vertical-align: baseline;
//  border:3px solid $mediumgrey;
//  margin-bottom: -4px;
//}
////red
//input[type=radio]:checked + label.red:before{   background:$brand-primary;   }
//input[type=radio] + label.red:before{  border:3px solid $brand-primary !important; }
////grey
//input[type=radio]:checked + label.grey:before{   background:$grey;   }
//input[type=radio] + label.grey:before{  border:3px solid $grey !important; }
////black
//input[type=radio]:checked + label.black:before{   background:$black;   }
//input[type=radio] + label.black:before{  border:3px solid $black !important; }
////grey
//input[type=radio]:checked + label.grey:before{   background:$grey;   }
//input[type=radio] + label.grey:before{  border:3px solid $grey !important; }
