//****************
// FAQ Styles
//****************




/*********************
Toggle
*********************/

.toggle {
  &:last-child {
      border-bottom: 2px solid $darkgrey;
  }
  &__toggle-title {
    position: relative;
    display: block;
    border-top: 2px solid $darkgrey;
    h3 {
      font-size: 20px;
      margin: 0px;
      line-height: 1;
      cursor: pointer;
      font-weight:200;
    }
    .title-name {
      display: block;
      padding: 25px 25px 25px;
    }
    a i {
      font-size: 22px;
      margin-right: 5px;
    }
    i {
      position: absolute;
      background: url('../images/plus_minus.png') 0px -48px no-repeat;
      width: 48px;
      height: 48px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin: 11px;
      right: 0;
    }
    &.active i {
      background: url('../images/plus_minus.png') 0px 0px no-repeat;
    }
  }
  &__toggle-inner {
    padding: 7px 25px 10px 25px;
    display: none;
    margin: -7px 0 6px;
    div {
      max-width: 100%;
    }
  }
}