/*********************
Float label mixins
*********************/




@mixin float-label-container {
  display: block;
  position: relative;
}

@mixin float-label {
  label {
    position: absolute;
    left: 0px;
    top: -10px;
    cursor: text;
    opacity: 1;
    transition: all .2s;
    @content;
  }
}

@mixin float-label-input {
  &::-webkit-input-placeholder {
    opacity: 1;
    transition: all .2s;
  }
  &:placeholder-shown:not(:focus)::-webkit-input-placeholder {
      opacity: 0;
  }
}

@mixin float-label-scaled {
  &:placeholder-shown:not(:focus) + * {
      font-size: 110%;
      opacity: .5;
      @content;
  }
}

//****************
// Float labels Styles
//****************

.has-float-label {
  @include float-label-container;

  @include float-label;

  select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  input, select, textarea {
    @include float-label-input;
    width:100%;
    font-size: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    margin-bottom: 2px;
    border: 0;
    background-color:$lightgrey;
    color:$mediumgrey;
    border-radius: 0;
    margin-top:1em;

    @include float-label-scaled {
      top: .4em;
    }

    &:focus {
      outline: none;
      border-color: rgba(0,0,0,.5);
    }
  }

  select {
    padding-right: 1em;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .5em bottom .25em;
    background-size: 8px 10px;
  }
}
