//****************
// Footer Styles
//****************




.footer{
  background-color:$lightgrey;

  .footer--logo{
    max-width: 100px;
  }
  ul{
    margin-left:0px;
    list-style-type: none;
    a{
      color:$mediumgrey;
    }
  }

  &__end{
    background-color:$white;
    .email{
      a{
        color:$darkgrey;
        text-decoration: underline;
      }
    }
    .copyright{
      text-align:left;
      @include mobile{
          text-align:right;
        }
    }
  }
  .social{
    text-align: center;
    margin-bottom: 1em;
    @include tablet{
      text-align: left;
      margin-bottom:0;
    }
  }
}