//****************
// Header Styles
//****************

.admin-bar{
  .header{
    margin-top:32px;
  }
}


.header{
  z-index: 1000;
  width:100%;
  height:auto;
  min-height: 75px;
  border-top:4px solid $blue;

  @include transition(all, 0.1s, ease-in-out);

  -webkit-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.05);

  &--fixed{
    top:0px;
    margin-top:0px;
    position:fixed;
  }

  &--reduce{
    margin-top:-50px !important;
    @include transition(all, 0.3s, ease-in-out);

    .main-nav{
      min-height: 65px;
      @include transition(all, 0.3s, ease-in-out);
    }
  }

}//header
