//****************
// Header Styles
//****************

.utility-nav{
  height: auto;
  min-height: 50px;
  line-height: 45px;

  &__search{
    #search{
      color:$mediumgrey;
      &.active{
        color:$brand-primary;
      }
    }
  }

  &__search--field{
    width:auto;
  }

  &__search-form{

    width:100%;
    float:left;
    display: none;
    @include transition(all, 0.3s, ease-in-out);

    &--active{
      display: block;
    }

    @include mobile{
      width:auto;
      float: right;
    }

    &--active{
      .utility-nav__search{
        width:60%;
        @include mobile{
          width: 150px;
        }
        padding-left:10px;
        background-color:#e4e4e4;
      }
      .utility-nav__search-button{
        display: block;
      }
    }
  }

  &__search{
    height:50px;
    padding-left:0px;
    float: right;
    padding-bottom:6px;
    border:none;
    border-radius:0px;
    @include transition(all, 0.3s, ease-in-out);

    @include mobile{
      margin-left:15px;
    }
  }

  &__search-button{
    width:40%;
    @include mobile{
      width:70px;
    }
    height:50px;
    float: right;
    display:none;
    border:none;
    color:$white;
    background-color:$brand-primary;
    text-align:center;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.42);

    p{
      color:#fff;
      line-height: 45px;
      margin-bottom: 0px;
      font-size:12px;
    }
  }

  &__list{
    display: inline-block;
    font-size: $f-xxs;

    li:first-child {
      //margin-right: 0px !important;
    }

    li{
      display: inline-block;
      margin-right: 10px;
      float: right;
      font-weight: 500;
      a{
        color:$mediumgrey;
        &:hover, &:focus {
          color:darken($mediumgrey, 10%);
        }

        @include mobile{
          padding-left: 10px;
        }
      }
    }
  }
}

.social-links{
  display: none;
  @include desktop{
    display: inline;
  }
  li{
    line-height: 75px;
    @include desktop{
      line-height: 87px;
    }
    a{
      font-size: $f-l;
      margin-right: 8px;
    }
  }
}

.main-nav{
  display: block;
  min-height: 68px;
  position:relative;
  @include transition(all, 0.1s, ease-in-out);

  @include mobile{
    min-height: 80px;
  }

  &__navigation{
    @include transition(all, 0.1s, ease-in-out);

    width:100%;
    display: none;
    margin-right: 0px;
    max-height: 250px;
    overflow-y: scroll;

    li{
      display: inline-block!important;
      margin-right: 12px;
      line-height: 75px;
      font-size:$f-s;

      a{
        padding-left: 5px;
        color:$white;
        display: inline-block;
        font-family: $font-primary;
        &:hover, &:focus {
          color:$white;
          @include mobile{
            color:darken($mediumgrey, 10%);
          }
        }

        @include mobile{
          color:$mediumgrey;
        }
      }
      ul{
        display: none;
        margin-left: 0px;
        width:100%;
        float: left;
        background-color: darken($brand-primary, 10%);

        li{
          padding-left:0px;
        }

        &.active{
          display: block;
        }
      }

      i{
        display: block;
        color:$white;
        float: right;
        font-size: $f-l;
        margin: 12px;

        @include mobile{
          display: none;
        }
      }
    }

    @include mobile{
      width:auto;
      display: block;
      overflow-y:visible;
    }

    @include tablet{
      margin-right: 20px;
    }

    @include desktop{
      margin-right: 30px;
      li{
        margin-right: 20px;
        line-height: 87px;
        font-size:$f-m;
        a{
          padding-left: 10px;
        }
      }
    }

    &--active{
      display: block !important;
      position:absolute;
      top:65px;
      background-color:$brand-primary;
      margin-left:-15px;

      -webkit-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.05);
      -moz-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.05);
      box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.05);

      li{
        display:block;
        width:100%;
        padding-left:0px;
        line-height: 45px !important;
        border-bottom:1px solid;
        border-color:darken($brand-primary, 10%);
        margin-right: 0px;

        @include mobile{
          padding-left: 15px;
        }

        ul{
          li{
            border-bottom:1px solid;
          border-color:darken($brand-primary, 20%);
          }
        }

        a{
          padding-left:15px;
          color:$white;

          @include mobile{
            padding-left:0px;
          }
        }
      }
    }
  }

  .btn--primary{
    display: block;
    margin-top: 15px;
    max-width: 150px;
    padding:5px 20px;
    min-width: 120px;
    color:$white;

    @include mobile{
      max-width: 170px;
      padding:10px 20px;
      margin-top: 15px;
      font-size: $f-s;
      min-width: 150px;
    }
    @include desktop{
      margin-top: 20px;
    }

  }

  #logo{
    width:160px;
    margin-top: 5px;

    @include mobile{
      width:190px;
      margin-top: 5px;
    }
    @include tablet{
      width:240px;
      margin-top: 5px;
    }
    img{
      width:100%;
    }
  }
}

.mobile-nav{
  display: block;
  margin-top:20px;
  margin-left:20px;
  float: right;
  @include mobile{
    display:none;
    position:relative !important;
    top:0px !important;
  }
  li{
    &:last-child {
      border-bottom: none !important;
    }
  }
}

/* MOBILE NAV ANIMATIONS */

#nav-icon{
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $brand-primary;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
}

#nav-icon span:nth-child(3) {
  top: 20px;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
