//****************
// Section Syles
//****************




section{
  position: relative;

  &.breadcrumbs{
    background-color: $blue;
    ul{
      background-color: $blue;
      li{
        color: $white;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
        &:before{
          color: $white!important;
          text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
        }
      }
    }
  }

  &.offset--blocks{
    &:after{
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top:100%;
      background-color: $white;
      z-index: 5;
      @include desktop{
        top: 60%;
      }
    }
    .row{
      .offset--block{
        position: relative;
        z-index: 10;
        &:hover{
          .wrapper{
            box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.1);
          }
        }
        .image-wrapper{
          height:220px;
          width:360px;
          border-left:1px solid transparent;
          border-top:1px solid transparent;
          border-right:1px solid transparent;
          text-align: center;
          white-space: nowrap;
          margin: 0 auto;
          &:before{
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
          img{
            display: inline-block;
            max-width:100%;
            max-height:220px;
            vertical-align: middle;
            margin-left:-3px;
            margin-top:1px;
          }
        }
        .wrapper{
          transition: all 0.25s ease-in-out;
          padding:0.6em 1.6em;
          border-left:darken($blue, 10%) 1px solid;
          border-right:darken($blue, 10%) 1px solid;
          border-bottom:darken($blue, 10%) 1px solid;
        }
      }
    }
  }

  &#intro{
    .intro--logo{
      max-width:30px;
      display: block;
    }
  }

  &.block{
    padding-top:60px;
    padding-bottom:50px;
    @include mobile{
      padding-top:90px;
      padding-bottom:75px;
    }
    @include tablet{
      padding-top:180px;
      padding-bottom:150px;
    }
  }

  &#testimonial{
    min-height: 200px;
    @include mobile{
      min-height:250px;
    }
    @include tablet{
      min-height:300px;
    }
  }

  .text__container{
    padding-left:15px;
    padding-right:15px;
    @include mobile{
      padding-left:50px;
      padding-right:50px;
    }
    @include tablet{
      padding-left:200px;
      padding-right:200px;
    }
  }

}

.test{
  background-size:cover;
  &__text{
    z-index: 100;
  }
  &__overlay{
    position:absolute;
    background:$brand-primary;
    opacity: 0.5;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
  }
}

.cta{
  h3{
    span{
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    }
  }
}
