//****************
// Slider Syles
//****************




.testimonial__slider{

  overflow: hidden;
  position:relative;
  padding-bottom:50px;

  .slick-dots {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-left:0px;

    .slick-active{
      background:$white !important;
    }

    li{
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background:$mediumgrey !important;
      padding: 0;
      cursor: pointer;
      border-radius:10px;

      button{
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
      }
    }
  }
}


