//****************
// Project Typography
//****************


/*********************
Header Styles
*********************/

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  color: $darkgrey;
  margin-top: 0.333rem;
  margin-bottom: 0.85rem;
  font-weight: 500;
}

h1 {
  @include font-size($h1-font-sizes);
  font-family: $font-primary;
  font-weight: 500;
}

h2 {
  @include font-size($h2-font-sizes);
  font-family: $font-primary;
}

h3 {
  @include font-size($h3-font-sizes);
  font-family: $font-primary;
}

h4 {
  @include font-size($h4-font-sizes);
  font-family: $font-secondary;
}

h5 {
  @include font-size($h5-font-sizes);
  font-family: $font-secondary;
  font-weight: 500;
  color:$brand-tertiary;
}

/*********************
P Styles
*********************/

p {
  @include font-size($p-font-sizes);
  margin: 0 0 0.85rem 0;
  color:$mediumgrey;
}

blockquote {
  padding:20px 30px;
  border-left:2px solid $brand-primary;
  margin:30px 0px;

  p{
    color:$brand-primary;
    font-size: $f-xl;
    line-height: 40px;
  }

}

/*********************
Link Styles
*********************/

a {
  color: $brand-primary;
  text-decoration: none;
  @include transition(all, 0.15s, ease-in-out);

  &:hover {
    color: darken($brand-primary, 50%);
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
  }
}

/*********************
UL Styles
*********************/

main, .content{

  ul {
    margin: 0;
    margin-left:15px;
  }
  ul {
    list-style-type: none;
    margin-left:0px;
  }
  ul > li {
    //text-indent: 5px;
  }
  ul > li:before {
    content: "• ";
    color:$brand-primary;
    text-indent: 5px;
  }

}


/*********************
Weight Styles
*********************/

.normal { font-weight: normal; }
.b      { font-weight: bold; }
.fw1    { font-weight: 100; }
.fw2    { font-weight: 200; }
.fw3    { font-weight: 300; }
.fw4    { font-weight: 400; }
.fw5    { font-weight: 500; }
.fw6    { font-weight: 600; }
.fw7    { font-weight: 700; }
.fw8    { font-weight: 800; }
.fw9    { font-weight: 900; }

/*********************
Modifier Styles
*********************/

.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}

main a{
  i.fa{
    min-width:30px;
    &:before{
      transition: ease all 0.2s;
    }
  }
  &:hover{
    .fa:before{
      margin-left:6px;
    }
  }
}
