.woocommerce-message {
  border-top-color: #16DB93;
  border-bottom: 5px;
  background-color: rgba(247, 246, 247, 0.31);
  &:before{
    color: #16DB93;
  }
  font-weight: bold;
  .button.wc-forward{
    background-color: #16DB93;
    color: white;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.42);
    &:hover{
      background-color: darken(#16DB93, 5%);
      color: white
    }
  }
}

.woocommerce{
  .product_meta{
    display:none;
  }
}

.awfm-warp-content{
  #woo-floating-minicart-icon{
    left:-61px;
    span.cart-icon{
      border-radius: 8% 0 0 8%;
      padding: 8px 12px;
    }
  }
}

.product--blocks, .summary{
  h3, .price{
    text-align: center;
  }
  h3{
    font-size:200%;
    color: $brand-primary;
  }
  .price{
    color: $brand-secondary;
    margin-top: 0.333rem;
    margin-bottom: 0.85rem;
    font-size:130%;
    display:block;
  }
  .preview{
    display: block;
    clear:both;
  }
  a.button{
    display:none;
  }
  a.button.add_to_cart{
    display: block;
    text-align: center;
  }
}

.summary{
  .price, h1{
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }
  .price{
    font-size: 130%;
    width:auto;
    margin-top:0;
  }
  h1{
    font-size: 280%;
    margin-top:0;
    margin-bottom:0.1em;
  }
}

body .woocommerce input.input-text, body.woocommerce input.input-text, body.woocommerce-cart table.cart td.actions .coupon .input-text{
  padding: 11px 10px;
  margin-top: 3px;
  &.qty{
    width:4.631em;
  }
  &#coupon_code{
    width:105px;
  }
}

.cart{
  .quantity{
    float: left;
    display: inline-block;
    margin-right:1em;
  }
  button.button{
    padding: 11px 20px;
  }
}

#payment{
  img{
    width: auto;
    display: inline-block;
  }
}

.woocommerce-checkout{
  h3{
    font-size: 22px;
  }
}
#woo-floating-minicart-base p.buttons a.button{
  &#awfm-cart-button, &#awfm-checkout-button{
    border-radius: 0;
    margin-bottom:0.5em;
  }
}

.outofstock{
  a.button{
    display: none;
  }
}

form.variations_form{
  .quantity{
    margin:0 auto;
  }
  button.single_add_to_cart_button.button{
    width:auto;
    margin-left:1em;
  }
}