<section role="banner" class="banner banner--small bg--project-lightgrey" {% if post.background_image %}style="background-image:url({{ TimberImage(post.background_image).src('banner') }})"{% elseif post.thumbnail %}style="background-image:url({{ TimberImage(post.thumbnail).src('banner') }})"{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="fade-in">{{ post.title }}</h1>
            </div>
        </div>
    </div>
</section>
