<section class="p-top--xxl p-bottom--xxl border-bottom--project-blue">
    <div class="container">
        <div class="row">
            <main role="main" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                {{ pblock.content }}
            </main>
        </div>
    </div>
</section>
