<section class="p-top--xxl p-bottom--xxl border-bottom--project-blue">
    <div class="container">
        <div class="row">
            <main role="main" class="col-xs-12 {% if fn('is_account_page') %} {% else %}col-sm-8 col-sm-offset-2{% endif %}">
                {{ pblock.content }}
            </main>
        </div>
    </div>
</section>
