{% if pblock.text or pblock.button %}
<section class="cta p-top--xxl p-bottom--xxl bg--project-primary">
    <div class="container p-top--xxl p-bottom--xxl">
        <div class="row">
            <div class="test__text col-xs-10 middle float--none text-align--center">
                <h3 class="usual c--project-white fw1">
                    {% if pblock.text %}<span>{{ pblock.text }}</span>{% endif %}
                    {% if pblock.button.text %}
                    <a class="btn btn--primary d--iblock m-top--l" {{ pblock.url }}>{{ pblock.text }}</a>
                    {% endif %}
                </h3>
            </div>
            <div class="test__overlay"></div>
        </div>
    </div>
</section>
{% endif %}
