{% if pblock.faq %}
<section class="p-top--xxl p-bottom--xxl bg--project-white content">
    <div class="container">
        <div class="row">
          {% if pblock.title or pblock.sub_title %}
            <div class="col-xs-12 text-align--center">
                {% if pblock.title %}<h2>{{ pblock.title }}</h2>{% endif %}
                {% if pblock.sub_title %}
                <h3 class="c--project-mediumgrey m-top--xxl fw1">
                    {{ pblock.sub_title }}
                </h3>
                {% endif %}
            </div>
          {% endif %}
            <div class="col-xs-12 m-top--xl">
              {% for faq in pblock.faq %}
              <div class="toggle">
                  <div class="toggle__toggle-title">
                      <h3>
                          <i></i>
                          <span class="title-name f--primary uppercase fw5">{{ faq.question }}</span>
                      </h3>
                  </div>
                  <div class="toggle__toggle-inner p-bottom--l">
                      {{ faq.answer }}
                  </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
