<section class="p-top--xxl p-bottom--xxl">
    <div class="container">
      {% if pblock.title or pblock.text %}
        <div class="row">
            <div class="col-xs-12 text-align--center">
                {% if pblock.title %}<h2>{{ pblock.title }}</h2>{% endif %}
                {% if pblock.text %}
                <h4 class="c--project-mediumgrey">
                    {{ pblock.text }}
                </h4>
                {% endif %}
            </div>
        </div>
      {% endif %}
      {% if pblock.form %}
        <div class="row p-top--l">
          {% set form_sc = '[contact-form-7 id="'~pblock.form[0].id~'" title="'~pblock.form[0].title~'"]' %}
          {{ form_sc|shortcodes }}
        </div>
        {% endif %}
    </div>
</section>
