{% if options.mentions %}
<section class="mentions p-bottom--xl">
    <div class="container p-top--xl p-bottom--xl">
      <div class="row p-bottom--l">
        <h3 class="text-align--center">Mentions</h3>
      </div>
        <div class="row mentions__slider slider">
          {% for m in options.mentions %}
            {% if m.image %}
              <div class="mention col-xs-3 col-sm-2 text-align--center">
                  {% if m.link %}<a href="{{ m.link }}">{% endif %}
                  <img src="{{ TimberImage(m.image).src('mention') }}" />
                  {% if m.link %}</a>{% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
</section>
{% endif %}
