<div class="row m-bottom--xl m-top--xxxl">
    {{ fn('timber_set_product', post) }}
    <article {{ fn('post_class', ['entry'] ) }}>
    <article {{ fn('post_class', ['entry'] ) }}>
        <div class="media-content">
            <div class="col-xs-12 col-md-4 {% if loop.index is even %}pull-right{% endif %}">
                {% do action('woocommerce_before_shop_loop_item_title') %}
            </div>
            <div class="col-xs-12 col-md-8 {% if loop.index is even %}pull-left{% endif %} p-top--xxl">
                <h3 class="entry-title">

                        {{ post.title }}

                </h3>

                {% do action( 'woocommerce_after_shop_loop_item_title' ) %}

                <div class="preview">{{post.get_preview(80, false, '')|wpautop }}</div>

                {% do action( 'woocommerce_after_shop_loop_item' ) %}
            </div>

        </div>

    </article>
</div>