{% if pblock.testimonies %}
<section id="testimonial" class="p-top--xxl p-bottom--xxl bg--project-darkgrey">
    <div class="container p-top--xxl p-bottom--xxl">
        <div class="row testimonial__slider slider">
          {% for t in pblock.testimonies %}
            {% if t.textimony %}
              <div class="testimonial col-xs-12 text-align--center text__container">
                  <h3 class="usual c--project-white ">{{ t.testimony }}</h3>
                  {% if t.from %}<h5 class="f--primary c--project-white fw1">- {{ t.from }}</h3>{% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
</section>
{% endif %}
