<section class="p-top--xxl p-bottom--xxl border-bottom--project-blue">
    <div class="container">
      {% if pblock.title %}
        <div class="row  m-bottom--l">
          <div class="col-xs-12 text-align--center">
            <h2>{{ pblock.title }}</h2>
          </div>
        </div>
      {% endif %}
        <div class="row m-bottom--l">
            <div class="col-xs-12 text-align--center">
                <div class="row">
                  {% for i in pblock.images %}
                    <div class="{% if pblock.images|length == 2 %}col-sm-6{% else %}col-xs-4 col-sm-4{% endif %} m-bottom--l">
                        <img class="opacity--zero to-fade-in" src="{{ TimberImage(i.image).src('image-block') }}"/>
                        <div class="">
                          {{ i.text }}
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
