{% if pblock.blocks %}
<section class="offset--blocks bg--project-blue p-bottom--xxl">
          <div class="container">
              <div class="row m-bottom--l">
                {% for b in pblock.blocks %}
                <div class="offset--block col-sm-12 col-md-6 col-lg-4 p-top--xxl opacity--zero to-fade-in">
                    <div class="image-wrapper">
                        <img src="{{ TimberImage(b.image).src('three-block') }}" />
                    </div>
                  <div class="wrapper bg--project-white">
                    <h3>{{ b.title }}</h3>
                    {% if b.text %}
                      <p>{{ b.text }}</p>
                    {% endif %}
                    {% if b.button.text %}
                      <a class="btn btn--primary m-top--s m-bottom--s" href="{{ b.button.url }}">{{ b.button.text }}</a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
          </div>
        </section>
{% endif %}
