<section class="p-top--xxl p-bottom--xxl border-bottom--project-blue">
            <div class="container">
                <div class="row p--bottom--l">
                    <div class="col-xs-12 text-align--center">
                      {% if pblock.title %}
                        <h3>{{ pblock.title }}</h3>
                      {% endif %}
                      {% if pblock.text %}
                        <h4 class="c--project-mediumgrey">
                            {{ pblock.text }}
                        </h4>
                      {% endif %}
                    </div>
                </div>
                {% if pblock.video %}
                    <div class="col-sm-10 col-sm-offset-1 m-top--xl">
                    {{ function( 'apply_filters', 'the_content', pblock.video ) }}
                    </div>
                {% endif %}
            </div>
        </section>