{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

{% block navigation %}
	{% include 'header.twig' %}
{% endblock %}

{% block banner %}
	{% if fn('is_checkout') or fn('is_cart') or fn('is_account_page') %}
		{% include 'part/banner-small.twig' %}
	{% else %}
		{% include 'part/banner.twig' %}
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
	{% include 'part/breadcrumbs.twig' %}
{% endblock %}

{% block content %}
	Sorry, no content
{% endblock %}

{% block mentions %}
	{% include 'part/mentions.twig' %}
{% endblock %}

{% block footer %}
	{% include 'footer.twig' %}
{% endblock %}
