<footer role="contentinfo" class="footer">

    <section class="footer__end" class="p-top--l p-bottom--l">
        <div class="container p-top--l p-bottom--l">
            <div class="row">

                <div class="social col-xs-12 col-sm-6 p-left--zero">
                  <p>
                  {% if options.social %}
                    {% for s in options.social %}
                      <span><a class="c--project-mediumgrey" href="{{ s.link }}">
                          <i class="fa {{ s.icon }} f--l m-right--l" aria-hidden="true"></i>
                      </a></span>
                    {% endfor %}
                  {% endif %}
                  {% if options.email %}
                    <span class="email">
                        <a href="mailto:{{ options.email }}" target="_top">{{ options.email }}</a>
                    </span>
                  {% endif %}
                  </p>
                </div>

                <div class="col-xs-12 col-sm-6 copyright m-left--zero">
                    <p>
                       <span>{{ options.copyright }}</span>
                    </p>
                </div>

            </div>
        </div>
    </section>

</footer>

{{ function('wp_footer') }}

</body>
</html>
