<body role="document" class="{{body_class}}">

    <header class="header bg--project-white header--fixed">

        <nav role="navigation" class="main-nav bg--project-white">
            <div class="container">

                <div class="mobile-nav">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div role="logo" id="logo" class="float--l">
                    <a href="{{ site.url }}"><img src="{% if options.logo %}{{ TimberImage(options.logo).src }}{% else %}{{ theme.link }}/assets/images/logo.jpg{% endif %}"/></a>
                </div>
                {% if options.header_button.text %}
                <a href="{{ options.header_button.url }}" class="btn btn--primary float--r">{{ options.header_button_text }}</a>
                {% endif %}

                {% if options.social %}
                <ul class="social-links l--inline float--r">
                  {% for s in options.social %}
                      <li><a href="{{ s.link }}"><i class="fa {{ s.icon }}"></i></a></li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% include "menu.twig" with {'menu' : menu.get_items} %}
            </div>
        </div>

    </header>
