{% extends "base.twig" %}

{% block content %}
<section class="p-top--xxl p-bottom--xxl border-bottom--project-blue">
		<div class="container">
				<div class="row">
	{% for post in posts %}
		{% include ['part/tease-'~post.post_type~'.twig', 'part/tease.twig'] %}
	{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
