{% extends "base.twig" %}

{% block content %}
	{% for pblock in post.get_field('content_builder') %}

		{% block page_builder %}
			{% include "part/" ~ pblock.acf_fc_layout ~ '.twig' with pblock %}
		{% endblock %}

	{% endfor %}
{% endblock %}
