{% extends "base.twig" %}

{% block content %}
<section class="p-top--xxl p-bottom--xxl border-bottom--project-blue">
		<div class="container">
				<div class="row">
						<main role="main" class="col-xs-12 col-sm-8">
								{{ post.content }}
						</main>
				</div>
		</div>
</section>
{% endblock %}
