{% extends "tease.twig" %}

{% block content %}
<div class="col-sm-12 col-md-6 border-bottom--project-blue">
	<h3><a href="{{post.link}}">{{post.title}}</a></h3>
		<p>{{post.get_preview(25)}}</p>
		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
</div>
{% endblock %}
