//****************
// Project Config
//****************




/*********************
Fonts
*********************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans:300,400,600,700');

/*********************
Breakpoints
*********************/

$mobile-break: 768px;
$tablet-break: 992px;
$desktop-break: 1156px;
$large-desktop-break: 1440px;

/*********************
Brand Colours
*********************/

$brand-primary: #F38238;
$brand-secondary: #15A7CA;
$brand-tertiary: #007cba;
$brand-quaternary: #ffc627;

/*********************
Secondary colours
*********************/

$darkgrey: #3f3e3e;
$mediumgrey: #807b7b;
$lightgrey: #f3f1f2;
$grey: #5a5a5a;
$black: #1a1818;
$white: #ffffff;
$blue: #16a4c8;

/*********************
Font Sizes
*********************/

$f-xxxl: 50px;
$f-xxl: 40px;
$f-xl: 30px;
$f-l: 20px;
$f-m: 18px;
$f-base: 16px;
$f-s: 14px; //14px
$f-xs: 12px; //12px
$f-xxs: 10px;
$f-zero: 0px;

/*********************
Font Responsive
*********************/

$h1-font-sizes: (
  null  : ($f-xxl, 1.3),
  mobile :($f-xxxl, 1.4),
  tablet: ($f-xxxl, 1.5),
  desktop : ($f-xxxl, 1.5),
);

$h2-font-sizes: (
  null  : ($f-xl, 1.3),
  mobile : ($f-xxl, 1.4),
  tablet: ($f-xxl, 1.5),
  desktop : ($f-xxl, 1.5),
);

$h3-font-sizes: (
  null  : ($f-l, 1.3),
  mobile : ($f-xl, 1.4),
  tablet: ($f-xl, 1.5),
  desktop : ($f-xl, 1.5),
);

$h4-font-sizes: (
  null  : ($f-m, 1.3),
  mobile : ($f-l, 1.4),
  tablet: ($f-l, 1.5),
  desktop : ($f-l, 1.5),
);

$h5-font-sizes: (
  null  : ($f-base, 1.3),
  mobile : ($f-m, 1.4),
  tablet: ($f-m, 1.5),
  desktop : ($f-m, 1.5),
);

$p-font-sizes: (
  null  : ($f-s, 1.3),
  mobile : ($f-s, 1.4),
  tablet: ($f-base, 1.5),
  desktop : ($f-base, 1.5),
);

/*********************
Font variables
*********************/

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


// Include Specific Modules
@import "mixins";
@import "maps";
