//****************
// Project Maps
//****************




/*********************
Colours map
*********************/

$colors: (
  project-primary: $brand-primary,
  project-secondary: $brand-secondary,
  project-tertiary: $brand-tertiary,
  project-quaternary: $brand-quaternary,
  project-grey: $grey,
  project-lightgrey: $lightgrey,
  project-mediumgrey: $mediumgrey,
  project-darkgrey: $darkgrey,
  project-white: $white,
  project-black: $black,
  project-blue: $blue
);


/*********************
Font sizes map
*********************/

$fontsizes: (
  xxxl: $f-xxxl,
  xxl: $f-xxl,
  xl: $f-xl,
  l: $f-l,
  m: $f-m,
  base: $f-base,
  s: $f-s,
  xs: $f-xs,
  xxs: $f-xxs,
  zero: $f-zero
);

/*********************
Font sizes modifier
*********************/

@each $fontsize, $size in $fontsizes {
  .f--#{$fontsize} {
    font-size: $size !important;
  }
}
