body.login{
  background: #f9f9f7;
}
body.login div#login h1 a {
  background-image: url("https://static.impression.co.uk/impression-digital-logo.png");
  background-size:contain;
  height:85px;
  width:250px;
}
body.login input#wp-submit{
  background-color: #3ab0c8;
  color: #FFF;
  border: none;
  display: block;
  width: 100%;
  min-height: 46px;
  margin-top:15px;
  border-radius:0;
  border:0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
}
body.login form#loginform, body.login form#lostpasswordform{
  position:relative;
  padding: 26px 24px 32px;
}
body.login form#loginform:after, body.login form#lostpasswordform:after{
  content: " ";
  display:block;
  background: #037dbc;
  background: -moz-linear-gradient(left, #037dbc 0%, #649784 50%, #d7bb3e 100%);
  background: -webkit-linear-gradient(left, #037dbc 0%, #649784 50%, #d7bb3e 100%);
  background: linear-gradient(to right, #037dbc 0%, #649784 50%, #d7bb3e 100%);
  height: 3px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}
body.login label{
  color: #6b6868;
  font-weight:500;
}
body.login form#loginform input[type=text], body.login form#loginform input[type=password], body.login form#lostpasswordform input[type=text], body.login form#lostpasswordform input[type=password]{
  border-radius: 0px;
  -webkit-appearance: none;
  background-color: #f7f6f6;
  border-color: #f7f6f6;
  min-height: 46px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  display:block;
  box-shadow:none;
  padding:2px 12px;
}
body.login form#loginform input[type=text]:focus, body.login form#loginform input[type=password]:focus, body.login form#lostpasswordform input[type=text]:focus, body.login form#lostpasswordform input[type=password]:focus,{
  border-color: #f7f6f6;
  -webkit-box-shadow:none;
  box-shadow: none;
}
body.login #nav{
  width:40%;
}
body.login #nav, body.login #backtoblog{
  color: #3ab0c8;
  font-size: 12px;
  margin: 20px 0 0;
  display:block;
  float:left;
  padding:0;
  padding-left:10px;
  width:calc(50% - 20px);
  text-align: center;
}
body.login #nav a, body.login #backtoblog a, body.login #login_error a{
  color: #3ab0c8;
}
body.login #login_error{
  color: #6b6868;
  border-left-color:#a94442;
}
body.login .message{
  color: #6b6868;
  border-left-color:#3ab0c8;
}
