{% extends 'base.twig' %}

{% block content %}



    {% do action('woocommerce_before_main_content') %}

    {#<div class="before-shop-loop">#}
        {#{% do action('woocommerce_before_shop_loop') %}#}
    {#</div>#}
    <section class="product--blocks p-bottom--xxl m-top--m">
        <div class="container">


                {% for category in categories %}
            <div class="row m-bottom--l">
                    <h2 class="f--xxl m-bottom--xxl m-top--xxl text-align--center">{{ category.name }}</h2>
                    <div class="m-bottom--xxxl">{{ category.description|wpautop }}</div>
                    {% for post in category.products %}
                        {% include ["part/tease-product.twig"] %}
                    {% endfor %}
            </div>
                {% endfor %}

            </div>
        </div>
    </section>

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}