{% extends "base.twig" %}

{% block content %}



    <div class="container m-top--xl m-bottom--xxl">
        <div class="row">
            {% do action('woocommerce_before_single_product') %}
            <article itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}">

                {#<div class="entry-images">#}
                    {#{% do action('woocommerce_before_single_product_summary') %}#}

                    {#<img src="{{ post.thumbnail.src('shop_single') }}" />#}
                {#</div>#}

                <div class="col-xs-12 col-md-7 m-top--l">
                    {{ post.content }}
                </div>

                <div class="col-xs-12 col-md-5 summary entry-summary m-top--l">
                    {% do action('woocommerce_single_product_summary') %}
                </div>

                {% do action('woocommerce_after_single_product_summary') %}

                <meta itemprop="url" content="{{ post.link }}" />

            </article>

            {#{% include ["part/tease-product.twig"] with { products: related_products } %}#}

            {% do action('woocommerce_after_single_product') %}

        </div>
    </div>

    {% for pblock in post.get_field('content_builder') %}

        {% block page_builder %}
            {% include "part/" ~ pblock.acf_fc_layout ~ '.twig' with pblock %}
        {% endblock %}

    {% endfor %}

{% endblock  %}